.contenedor_experiencias{
    width: 100%;
    min-height: 100vh;
}


.experiencia {
    margin-bottom: 20px;
  }
  
  .derecha {
    text-align: right;
  }
  
  .izquierda {
    text-align: left;
  }
  