.contenedor_card_two {
  width: 40%;
  height: 150px;
  background-color: #262726;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_card_two {
  /*border: 2px solid #000;*/
  border-radius: 10px;
  background-color: #262726;
  color: white;
  cursor: pointer;
  padding: 20px;
  transition: all 0.3s ease;
  font-size: 23px;
  font-weight: 700;
}


.contenedor_card_two:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  background-color: rgb(236, 65, 4);
}

.contenedor_card_two.active {
  transform: scale(0.95);
  background-color: #6f6f6f;
}
.contenedor_card_two.active_hover {
  background-color: #6f6f6f;
}


@media (max-width: 768px) {
  .contenedor_card_two {
    width: 100%;
  }
}
