.skill-card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding:10px;
}

.skill-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /*border: 2px solid #fff;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-info {
  flex-grow: 1;
  color: white;
}

.skill-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;

}

.skill-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.progress-wrapper {
  position: relative;
  width: 100%;
}

progress {
  width: 100%;
  height: 12px;
  border: none;
  border-radius: 20px;
  appearance: none;
  color: #ffffff;
}

progress::-webkit-progress-bar {
  background-color: #131212;
  border-radius: 20px;
  color: white;
 
}

progress::-webkit-progress-value {
  background-color: #ffffff;
  border-radius: 20px;
  color: white;
}

progress::-moz-progress-bar {
  background-color: #6cb2eb;
  border-radius: 20px;
  color: #ffffff !important;
}

.custom_skill_span {
  position: absolute;
  top: -30%;
  right: 10px;
  transform: translateY(-50%);
  color: white; 
  font-size: 14px;
  font-weight: bold;
}